html {
  font-size: 100%;
}

body{
  color: #333;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  letter-spacing: 0.1rem;
  margin: 0;
}

a{
  color: #333;
  text-decoration: none;
}

img{
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

/* コンテンツ幅調整 */
.wrapper {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
}

/* セクションごとのタイトル */
.mini-title {
  font-size: 2.25rem;
  margin-bottom: 100px;
  text-align: center;
  position: relative;
}
/* タイトルの下線 */
.mini-title::after{
  content: "";
  width: 100px;
  height: 3px;
  background-color: #333;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -20px;
}


/* ヘッダー */
header {
  height: 100px;
  padding: 20px 0 0 50px;
}

header .main-title {
  width: 100px;
  line-height: 1px;
}

#hamburger{
  width: 100px;
  height: 100px;
  background-color: #ff2a2a;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: 0.3s;
  z-index: 30;
}

#hamburger:hover {
  opacity: 0.7;
}

/* ハンバーガーの線 */
#hamburger span {
  width: 50px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 25px;
  transition: 0.3s ease-in-out;
}

#hamburger span:nth-child(1){
  top: 36px;
}

#hamburger span:nth-child(2){
  top: 50px;
}

#hamburger span:nth-child(3){
  top: 64px;
}

/* 線回転 */
#hamburger.active span:nth-child(1){
  top: 47px;
  background: #fff;
  transform: rotate(-45deg);
}

#hamburger.active span:nth-child(2),
#hamburger.active span:nth-child(3) {
  top: 47px;
  background: #fff;
  transform: rotate(45deg);
}

/* メニューの設定 */
#navi {
  width: 100%;
  height: 100vh;
  background-color: #ff2a2a;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  opacity: 0;
  text-align: center;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  visibility: hidden;
}

#navi.active {
  opacity: 1;
  visibility: visible;
}

#navi .logo {
  width: 100px;
  position: absolute;
  top: 40px;
  left: 50px;
}

#navi .menu {
  margin: 80px 0 40px 0;
}

#navi .menu li {
 margin-bottom: 20px; 
}

#navi .menu a {
  color: #fff;
  font-weight: bold;
}

#navi .btn {
  width: 250px;
  border: solid 1px #fff;
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 15px 0;
  margin: 0 auto;
  position: relative;
  transition: 0.3s ease-in-out;
}

#navi .btn::after {
  content: " ";
  width: 250px;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
  padding: 15px 0;
  position: absolute;
  right: -6px;
  bottom: -6px;
}

#navi .btn:hover {
  background-color: #fff;
  color: #ff2a2a;
}

/* メインビジュアル */
#mainvisual {
  height: 720px;
  position: relative;
  margin-bottom: 120px;
}

#mainvisual .sentence {
  position: absolute;
  top: 280px;
  left: 10%;
  z-index: 10;
}

#mainvisual .sentence .bbb-name {
  font-size: 2.875rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: 0 4px 6px #fff;
}

#mainvisual .sentence .btn {
  background-color: #ff2a2a;
  /* 影 */
  border-bottom: 6px solid #9a0413;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
  display: block;
  padding: 15px 35px;
  text-align: center;
  transition: 0.3s;
  position: relative;
}

#mainvisual .sentence .btn::after {
  content: "";
  width: 16px;
  height: 16px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 26px;
  right: 30px;
}

#mainvisual .sentence .btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

#mainvisual .mainvisual div {
  width: 85%;
  top: 0;
  right: 0;
  left: 13%;
}

#mainvisual .mainvisual div img {
  width: 100%;
  height: 720px;
  object-fit: cover;
}

#mainvisual .mainvisual div::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0px 0px 20px 20px #fff;
}

#section1 {
  margin-bottom: 120px;
}

#section1 #background {
  background-color: #ff2a2a;
  padding: 80px 0;
}

#section1 .slide {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 4%;
  opacity: 0;
}

#section1 .slide img {
  width: auto;
  height: 60px;
  margin-right: 30px;
}

#section1 .slide .reason {
  color: #ff2a2a;
  display: block;
  font-size: 1.75rem;
  font-weight: bold;
}

#section1 .slide .content {
  font-size: 1.125rem;
}

#section1 .left {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 40px;
}

#section1 .right {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: auto;
}

/*
アニメーション（スライド左）を実行

slide-left：下で定義している「@keyframes slide-left」を実行
0.5s：アニメーションが始まってから終わるまでの時間（0.5sかけて実行）
ease-out：アニメーションの変化（開始時は早く、終了時は緩やかに変化）
0s：アニメーションが始まるまでの時間（0sですぐに実行）
1：アニメーションの繰り返し回数（1回）
forwards：アニメーション終了時の状態をそのまま維持
*/
#section1 .slide-left {
  animation: slide-left 0.5s ease-out 0s 1 forwards;
}
/*
アニメーション処理

最初は「translateX(-50%);」で左側に隠しておく
100%（0.5秒）かけて要素を表示させながら元の位置へ移動させる
*/
@keyframes slide-left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*
アニメーション（スライド右）を実行

※左の処理と同様
*/
#section1 .slide-right {
  animation: slide-right 0.5s ease-out 0s 1 forwards;
}
@keyframes slide-right {
  0% {
    transform: translateX(150%);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}


/* セクション２ */

#section2 {
  margin-bottom: 120px;
}

#section2 .voice-left,
#section2 .voice-right {
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;
  opacity: 0;
}

#section2 .voice-left {
  justify-content: flex-start;
}

#section2 .voice-left:last-of-type {
  margin-bottom: 0;
}

#section2 .voice-right {
  justify-content: flex-end;
}

#section2 .student img {
  width: 120px;
  background-color: #ccc;
  border-radius: 50%;
  margin-bottom: 10px;
}

#section2 .student .name {
  font-size: 0.75rem;
  text-align: center;
}

#section2 .voice-left .text,
#section2 .voice-right .text {
  width: 60%;
  display: flex;
  justify-content: center;
  background: #e9f1fb;
  border-radius: 15px;
  padding: 20px;
  position: relative;
}

#section2 .voice-left .text {
  margin-left: 25px;
}

#section2 .voice-right .text {
  margin-right: 25px;
}

#section2 .voice-left .text::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  margin-left: -30px;
  border: 15px solid transparent;
  border-right: 15px solid #e9f1fb;
}

#section2 .voice-right .text::before {
  content: "";
  position: absolute;
  top: 60%;
  right: 0;
  margin-right: -30px;
  border: 15px solid transparent;
  border-left: 15px solid #e9f1fb;
}


/*
アニメーションを実行

balloon：下で定義している「@keyframes balloon」を実行
0.5s：アニメーションが始まってから終わるまでの時間（0.5sかけて実行）
ease-out：アニメーションの変化（開始時は早く、終了時は緩やかに変化）
0s：アニメーションが始まるまでの時間（0sですぐに実行）
1：アニメーションの繰り返し回数（1回）
forwards：アニメーション終了時の状態をそのまま維持
*/
#section2 .balloon {
  animation: balloon 0.5s ease-out 0s 1 forwards;
}
/*
アニメーション処理

最初は「transform: scale(0.1);」で要素を小さくした状態で、「opacity: 0;」で非表示にしておく
0.5秒かけて要素を表示させながら元のサイズへ戻す
*/
@keyframes balloon {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


/*-------------------------------------------
Summary
-------------------------------------------*/
/*
アニメーションを実行

fall：下で定義している「@keyframes fall」を実行
10s：アニメーションが始まってから終わるまでの時間（10sかけて実行）
infinite：アニメーションの繰り返し回数(無限に繰り返す)
linear：アニメーションの変化（開始から終了まで一定に変化）
*/
#section3 {
  background: url("../img/bg.gif") repeat;
  animation: fall 10s infinite linear;
  padding: 60px 0;
  margin-bottom: 120px;
}
/*
アニメーション処理

10秒かけて背景画像の位置「background-position」を移動させる動作を繰り返す
*/
@keyframes fall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}